:root {
    --lilac: #c7a2eb;
    --darkgray: #333;
    --lightgray: #f5f5f5;
}

body {
  margin:0;
  padding-top: 2rem;
  background: var(--lightgray);
}

/* with help from this: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu */
.navbar {
  overflow: hidden;
  background-color: var(--darkgray);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  font-family: 'Kalam', cursive;
  float: left;
  display: block;
  color: var(--lightgray);
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  /*background: var(--darkgray);*/
  color: var(--lilac);
}

h1 {
  font-family: 'Kalam', cursive;
  color: var(--lilac);
  font-size: 3rem;
}

.padded {
  padding: 2rem;
}

.margin {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: justify;
}

.blue-text {
  color: blue;
  font-family: cursive;
  font-size: 50px
}

.smaller-image {
  width: 25%
}

.rounded-purple {
  border-color: var(--lilac);
  border-width: 20px;
  border-style: solid;
  border-radius: 20%;
}

.mono-paragraph {
  font-family: monospace;
  font-size: 20px;
  color: var(--lilac);
}

.fantasy {
  font-size: 16px;
  font-family: fantasy;
  color: var(--lilac);
}
