body {
  margin:0;
  padding-top: 2rem;
}

/* with help from this: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  font-family: 'Kalam', cursive;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

h1 {
  font-family: 'Kalam', cursive;
}

.padded {
  padding: 2rem;
}

.blue-text {
  color: blue;
  font-family: cursive;
  font-size: 50px
}

.smaller-image {
  width: 25%
}

.rounded-purple {
  border-color: #c7a2eb;
  border-width: 20px;
  border-style: solid;
  border-radius: 20%;
}

.mono-paragraph {
  font-family: monospace;
  font-size: 20px;
  color: #2e7372;
}

.fantasy {
  font-size: 16px;
  font-family: fantasy;
  color: #7263eb;
}
