.blue-text {
  color: blue;
  font-family: cursive;
  font-size: 50px
}

.smaller-image {
  width: 25%
}

.rounded-purple {
  border-color: #c7a2eb;
  border-width: 20px;
  border-style: solid;
  border-radius: 20%;
}

.mono-paragraph {
  font-family: monospace;
  font-size: 20px;
  color: #2e7372;
}

.fantasy {
  font-size: 16px;
  font-family: fantasy;
  color: #7263eb;
}
